<div class = "text-center">
<h1>About</h1>
<p>にじいろゲーミングは、ゲーミングデバイスの総合レビューサイトです。</br>
ゲーミングデバイスが好きな方、どのデバイスを購入するか検討している方、ただただゲーミングデバイスが好きな方のためのサイトです。</br>
レビューしたい商品を投稿し、どんな方でも気軽にレビューが行えます。
</p>
</div>

<div>
  <h2 class = "text-center">サイトをご利用方法</h2>
  <h3>★レビュー投稿の方法★</h3>
  <ol>
    <li>レビューを行いたい商品を商品一覧から検索、ジャンル別で探してください。</li>
    <li>見つけたらクリックし、レビューを書くボタンを押してください</li>
    <li>レビュー画面に進んだら、評価の星の数を設定、タイトル、本文,購入時価格を記入してください。</br>
      (購入時価格は、セール時購入であれば値段とともにその旨を記載してください、覚えていなければ記入しなくても良いです。)
    </li>
    <li>もし見つけることができなければ、商品が登録されていないと思われるので、ヘッダーの新規商品登録を押します。</li>
    <li>新規商品登録画面に進んだら、商品画像を選択し、※注意(自分で商品を撮影し、アップロードしてください)</br>
      商品名、商品モデル番号(正確に入力をお願いします。わからなければ記載しなくても良いですがなるべく記載するようお願いいたします。)</br>
      商品説明（スペックや概要をなるべく正確に)記入、ジャンルを選択し、投稿を押してください。
    </li>
    <li>商品を登録できると、投稿した、商品投稿詳細ページに飛ぶので、レビューを書くボタンを押し、説明.3を参考にし、レビューを投稿してください。</li>
  </ol>
</div>
