<!--フラッシュ表示-->
<%= flash[:notice] %>
<div class="container">
  <div class="row">
     <div class="card text-white mb-3">
        <img class="card-img" src="nijiiro_gaming_top.jpg" alt="">
        <div class="card-img-overlay d-flex align-items-center justify-content-center">
        <div class="top-message">
          <h3 class= "stroke">
            ようこそ、ながのCAKEへ！<br>
            このサイトは、ケーキ販売のECサイトになります。<br>
            会員でない方も商品の閲覧はできますが、<br>
            購入には会員登録が必要になります。
          </h3>
        </div>
      </div>
    </div>
  </div>
</div>