<% if review.lang_score >= 0.7 %>
    凄く良い! <span class = "engel">😇</span>
  <% elsif review.lang_score >= 0.1 %>
    良い <div class = "chewy">😀</div>
  <% elsif review.lang_score < 0.1 && review.lang_score > -0.1 %>
    普通 <span class = "wave">😕</span>
  <% elsif review.lang_score <= -0.1 && review.lang_score >= -0.6 %>
    悪い <span class = "zoom_shrink">😡</span>
  <% else %>
    凄く悪い! <span class = "shake">🥶</span>
<% end %>
[<%= review.lang_score %>]点
