<div style="background-color: #343a40";>
  <div class="row mh-10">
    <div class="mx-auto d-flex align-items-center justify-content-center" style="height: 70px;">
      <p class ="text-light">©︎nijiiro_gaming</p>
    </div>
  </div>
</div>