<div style = "background-color: #e23030d4;">
  <div class="row mh-10">
    <div class="mx-auto d-flex align-items-center justify-content-center" style="height: 70px;">
      <p class ="footer-text">©︎nijiiro_gaming</p>
    </div>
  </div>
</div>